a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/*Menu*/
.navbar-brand img {
    width: 180px;
}

.Menu1 {
    position: fixed;
    top: 0;
}

.menuright {
    padding-right: 20px;
}

.listpick1 {
    margin: 1%;
    width: 20%;
    float: left;
}

    .listpick1 li {
        background: #a8d46d;
        font-size: 20px;
    }

    .listpick1 a {
        color: white;
        list-style: none;
        text-decoration: none;
    }

    .listpick1 li:hover {
        background: #526b2f;
    }

.listpick2 {
    margin: 1%;
    width: 76%;
    float: right;
}

#Logo {
    margin: 2% 0% 0% 0%;
}

    #Logo img {
        width: 60%;
    }

.listbook a {
    margin: 0% 1% 0% 0%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    border-left: solid 2px #4a6526;
    padding: 2px;
    padding-left: 5px;
    background: #9dce5a;
    border-radius: 10px 0px 10px 0px;
    text-decoration: none;
}

    .listbook a:hover {
        background: #537723;
        transition-duration: 0.7s;
        color: #ffffff;
    }

.NoiDung {
    margin: 2% 1% 2% 1%;
    width: 96%;
    background: #9dce5ae0;
    padding: 1%;
}

.soansach {
}

    .soansach img {
        width: 400px;
        height: 300px;
        margin: 0% 0% 0% 0%;
        text-align: center;
        background: white;
    }

    .soansach table {
        background: #ffffff14;
        width: 400px;
        height: 300px;
        margin: 0px 50px 0px 0px;
        border: 1px solid #91c158;
        text-align: center;
    }

    .soansach span {
        color: white;
        font-weight: bolder;
        font-size: 15px;
    }

    .soansach td:hover {
        background: #54693b;
    }

.chitietgiohang {
    width: 20%;
    border: solid 1px #a8d46d;
}

    .chitietgiohang b {
        color: white;
        width: 40%;
        text-align: center;
    }

.baolap {
    background: #a8d46d;
}

.bntthemvaogio {
    background: red;
    float: right;
    width: 40%;
    text-align: center;
    border-radius: 20px 0px 0px 0px;
}

.cuoitrang {
    background: #8BC34A;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 2% 0% 1% 0%;
}
/* Trangchu */
.tcchinh {
    background: #a8d46d;
    width: 100%;
    height: auto;
    border: solid 1px black;
}

.tc1 {
    /*background: #004fff;*/
    width: 98%;
    height: auto;
    margin: 1% 1% 1% 1%;
}

.tc2 {
    /*background: #004fff;*/
    width: 98%;
    height: 200px;
    border: solid 2px black;
    padding: 1%;
    margin: 1% 1% 1% 1%;
}

.tc3 {
    /*background: #004fff;*/
    width: 98%;
    height: 200px;
    border: solid 2px black;
    padding: 1%;
    margin: 1% 1% 1% 1%;
}

.traiprev {
    background-repeat: repeat-x;
}

.phaiprev {
    right: 0;
    left: auto;
}

.hiengiohang {
    color: white;
}

    .hiengiohang li {
        background: red;
        color: white;
        padding: 1%;
        position: fixed;
        bottom: 0;
        width: 130px;
        right: 0;
        border-radius: 20px 0px 0px 0px;
        font-weight: bold;
    }

    .hiengiohang a {
        color: white;
        margin-left: 5%;
        font-size: 14px;
    }
/*Gio Hang  */
.giohangcenter {
    text-align: center;
    background: #000000;
    color: white;
    padding: 1%;
    margin-bottom: 100px;
}

.giohang {
    background: #a8d46d;
    text-align: center;
    padding: 1%;
}

    .giohang td {
        padding: 1%;
    }
